input[type=text] {
  font-size: 22px;
  width: 40%;
  padding: 5px;
  border-radius: 8px;
}

.button {
  margin: 10px;
  padding: 15px 25px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#answer {
  padding: 5px;
  margin: 35px;
  font-size:30px;
  font-family: Georgia;
  color: black;
}

#news_section {
  margin: 10px;
  height:320px;
  overflow-y: auto;

}

#news_div {
  margin-top: 30px;
}

#news_ul {
  list-style-type: none;
  width: 40%;
  margin: auto;
}

#news_h3 {
  font: bold 22px/1.5 Helvetica, Verdana, sans-serif;
}

#news_li #news_img {
  float: left;
  margin: 0 15px 0 0;
}

#news_li #news_p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

#news_li {
  padding: 10px;
  background: #FAF4F2;
  height:300px;
}

#news_li:hover {
  background: #eee;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}