input[type=text] {
  font-size: 22px;
  width: 40%;
  padding: 5px;
  border-radius: 8px;
}


.button {
  margin: 10px;
  padding: 15px 25px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#answer {
  padding: 5px;
  margin: 70px;
  font-size:30px;
  font-family: Georgia;
  color: black;
}

