<iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/54754437-cf50-46ee-8306-4e2d8dc9153b">
</iframe>

<h1>
    {{ test_val }}
</h1>


<a href="" id="command">Wykonaj</a>

<script type="text/javascript">
var command = document.getElementById('command');

command.onclick = function(){

    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "/static/command.js";
    document.getElementsByTagName("head")[0].appendChild(script);
    return false;
}
</script>